.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heart{
    display: flex;
    font-size: 23px;
    margin-top: 12px;
}
.price{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin-top: 8px;
}