@import "./_mixins";
@import "./_placeholder";
@import "./_variables";

@font-face {
    font-family: 'Shrikhand';
    src: url('shrikhand/Shrikhand-Regular.otf');
}
@font-face {
    font-family: 'roboto_condensedlight';
    src: url('RobotoCondensed-Light-webfont.eot');
    src: url('RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('RobotoCondensed-Light-webfont.woff') format('woff'),
         url('RobotoCondensed-Light-webfont.ttf') format('truetype'),
         url('RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('Roboto-Bold-webfont.eot');
    src: url('Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold-webfont.woff') format('woff'),
         url('Roboto-Bold-webfont.ttf') format('truetype'),
         url('Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:'roboto_condensedlight';
    font-weight: bold;
}
.imgcook{
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 30%;
    left: 25%;
    animation: spin 3s linear;
    animation-fill-mode: forwards;
}
.allmenu{
    animation: appear 0s 3s forwards;
    visibility: hidden;
}
.header{
    width: 100%;
    @include flexcenter;
}
.logoheader{
    width: 50%; 
    margin-bottom: 10px;
    margin-top: 10px;
}
.arrow{
    padding-left: 20px;
    position: absolute;
    top: 20px;
    font-size: 20px;
    color: black;
}
.bannerpic{
    width: 100%;
    height: 220px;
    position: absolute;
}
                    /*MENU*/
.menu{
    background-color: #F3F3F3;
    border-radius: 25px 25px 0px 0px;
    position: absolute;
    top: 240px;
    width: 100%;
}
.containername{
    @include flexcenter;
    flex-direction: row;
    margin-left: -10px;
}
h1{
    display: block;
    font-family: 'shrikhand';
    font-size: 30px;
    margin-left: -7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.heart{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 2px;
}
                        /*PROPOSITIONS PLATS*/

h2{
    font-weight: normal;
    font-size: 17px;
    margin-left: 10px;
}
span{
    border-bottom: 2px solid $Tertiary-color;
    padding-bottom: 5px;
}
.transition1{
    animation: opening 7s;
}
.transition2{
    animation: opening 8s;
}
.transition3{
    animation: opening 9s;
}
.title{
    margin-bottom: 25px;
}
.sticker{
    text-decoration: none;
    color: black;
}
.fa-check-circle{
    transition: 1s;
}
.okposition{
    display: flex;
    justify-content: flex-end;
}
.ok{
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    position: absolute;
    border-radius: 0px 15px 15px 0px;
    height: 65px;
    align-items: center;
    font-size: 19px;
    color: white;
    opacity: 0;
    transition: 0.2s;
    transform: translateX(100%);
}
.txtsticker{
    display: flex;
    flex-direction: column;
    width: 98%;
    background-color: white;
    border-radius: 15px;
    margin-left: 8px;
    margin-right: 8px;
    box-shadow: 2px 3px rgb(231, 229, 229);
    margin-bottom: 10px;
    cursor: pointer;
    &:active .ok{
        display: flex;
        opacity: 1;
        width: 60px;
        transition: 1s;
        transform: translateX(0px);
    }
    &:active .price{
        transition: 1s;
        transform: translate(-70px);
    }
    &:active .fa-check-circle{
        transform: rotate(-360deg);
    }
}
h3{
    font-family:'robotobold';
    font-size: 16px;
}
.naming, .sidedish, .price{
    margin-left: 10px;
}
.naming{
    display: flex;
    margin-bottom: -30px;
    margin-top: -10px;
}
.sidedish{
    justify-content: space-between;
    display: flex;
}
p{
    font-size: 15px;
    font-weight: normal;
}
.price{
    font-family: 'robotobold';
    display: flex;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 20px;
}
            /*BOUTON COMMANDER*/
.btn{
    display: flex;
    background: linear-gradient($Secondary-color,#9408f1);
    border: none;
    color: white ;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    box-shadow: 3px 3px rgb(231, 229, 229);
    width: 100px;
    cursor: pointer;
    &:hover{
        background: $Secondary-color;
        box-shadow: 3px 7px #504d4d;
        transition: 1s;
        transform: scale(1.1);
    }
}
.movebtn{
    display: flex;
    justify-content: center;
}
                    /*FOOTER*/    
.footer{
    background-color: rgb(71, 67, 67);
    position: absolute;
    bottom: -170px;
    width: 100%;
}
h6{
    font-family: 'shrikhand';
    font-weight: normal;
    color: white;
    font-size: 20px;
    margin-left: 15px;
    padding-top: 15px;
    margin-bottom: 25px;
    margin-top: 0px;
}   
.txtfooter{
    font-size: 15px;
    color: white;
    margin-left: 15px;
    padding-bottom: 30px;
} 
.proposition, .partnair{
    display: flex;
    margin-bottom: 5px;
}
.ustensil{
    display: flex;
    margin-right: 10px;
}
.hands{
    display: flex;
    margin-right: 8px;
    font-size: 11px;
    margin-top: 5px;
}
.mentions{
    margin-bottom: 5px;
}
.contact{
    display: flex;
    color: white;
    text-decoration: none;
}
@media screen and (min-width: 500px) { /*Ipad*/
    .arrow{
        font-size: 30px;
        top: 30px;
    }
    .btn{
        width: 150px;
    }
    .imgcook{
        width: 250px;
        height: 250px;
        left: 35%;
    }
}
@media screen and (min-width: 1000px){
    .arrow{
        top: 50px;
    }
    .bannerpic{
        @include flexcenter;
        width: 100%;
        height: 400px;
        position: absolute;
    }
    .allmenu{
        display: flex;
        flex-direction: column;
    }
    .menu{
        top: 475px
    }
    .flexmenu{
        display: flex;
        justify-content: space-around;
    }
    .txtsticker{
        width: 310px;
    }
    .imgcook{
        width: 300px;
        height: 300px;
        left: 40%;
    }
    .btn{
        width: 200px;
        height: 35px;
        font-size: 25px;
    }
    .txtfooter{
        display: flex;
    }
    .proposition, .partnair, .mentions, .contact{
        width: 195px;
    }
}




